<!DOCTYPE html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>
  <nav th:replace="snippets.html :: name_app_navbar"></nav>

  <div class="container">
    <div class="row">
      <h3 class="ml-3">BRAND</h3>
    </div>
    <!-- Top row with form-->
    <div class="row mt-3">
      <div class="col-12">
        <form class="form-inline" id="brand-form">
          <button type="button" class="btn btn-primary mr-2" id="add">
            Add
          </button>
          <button type="button" class="btn btn-primary mr-2" id="upload-data">
            Upload
          </button>
          <button type="button" class="btn btn-primary mr-2" id="refresh-data">
            Refresh
          </button>
        </form>
      </div>
    </div>

    <div class="row mt-3">
      <!-- Table -->
      <div class="col-12">
        <table class="content-table" id="brand-table">
          <thead>
            <tr>
              <th scope="col">Brand</th>
              <th scope="col">Category</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>

    <!-- brand Add Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="add-brand-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add brand</h5>
          </div>
          <div class="modal-body">
            <form id="brand-add-form">
              <div class="row mb-3">
                <label for="inputBrand" class="col-3 control-label control-label">Brand</label>
                <div class="col-9">
                  <input type="text" class="form-control" name="brand" id="inputBrand" placeholder="Enter Brand" />
                </div>
              </div>
              <div class="row mt-3">
                <label for="inputCategory" class="col-3 control-label control-label">Category</label>
                <div class="col-9">
                  <input type="text" class="form-control" name="category" id="inputcategory"
                    placeholder="Enter Category" />
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="add-brand">
              Add
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- brand Edit Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="edit-brand-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit brand</h5>
          </div>
          <div class="modal-body">
            <form id="brand-edit-form">
              <div class="row mb-3">
                <label for="inputBrand" class="col-3 control-label" required>Brand</label>
                <div class="col-9">
                  <input type="text" class="form-control" name="brand" placeholder="Enter Brand" />
                </div>
              </div>
              <div class="row mt-3">
                <label for="inputcategory" class="col-3 control-label">category</label>
                <div class="col-9">
                  <input type="text" class="form-control" name="category" placeholder="Enter Category" required />
                </div>
              </div>
              <input type="hidden" name="id" />
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="update-brand">
              Update
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- brand Upload Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="upload-brand-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Upload brand</h5>
          </div>

          <div class="modal-body">
            <div class="brand-file">
              <input type="file" class="custom-file-input" id="brandFile" />
              <label class="custom-file-label" for="brandFile" id="brandFilecategory">Choose File</label>
            </div>
            <a th:href="@{/sample/brand.tsv}" target="_blank">Download Sample</a>
            <br />
            Rows: <span id="rowCount">0</span>, Processed:
            <span id="processCount">0</span>, Errors:
            <span id="errorCount">0</span>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="process-data">
              Upload
            </button>
            <button type="button" class="btn btn-warning" id="download-errors">
              Download Errors
            </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container end-->

  <footer th:replace="snippets.html :: name_footer"></footer>

  <script th:src="@{/static/js/brand.js}"></script>
</body>

</html>