<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container-fluid">

    <h3 class="m-3">Sales Report</h3>


    <!-- Top row with form-->
     <div class="row ml-3 flex-nowrap mb-3">
        <div class="col-3">
            <div class="row flex-row flex-nowrap">
            <label class="pr-3 ml-2 pt-2" for="fromDate">From</label>
            <input type="date" class="form-control" placeholder="Date" id="fromDate" onkeydown="return false">
        </div>
        </div>
        <div class="col-3">
            <div class="row flex-row flex-nowrap">
            <label class="pr-3 ml-2 pt-2" for="toDate">To</label>
            <input type="date" class="form-control" id="toDate" placeholder="Date" style="margin-bottom: 10px;" onkeydown="return false">
        </div>  
        </div>
        <div class="col-3">
            <div class="row flex-row flex-nowrap">
            <label class="pr-3 ml-2 pt-2" for="brandInputReports">Brand</label>
            <select  class="form-control" id="brandInputReports"  required></select>
        </div>
    </div>
        <div class="col-3">
            <div class="row flex-row flex-nowrap">
            <label class="pr-3 ml-2 pt-2" for="categoryInputReports">Category</label>
            <select  class="form-control" id="categoryInputReports" required></select>
        </div>
    </div>
    </div>

    <div class="row justify-content-center">
    <div class="col-2">
  <button type="button" class="btn btn-primary btn-block" id="salesbutton" >Filter Report</button>
  </div>
      <div class="col-2">
    <button type="button" class="btn btn-primary btn-block" id="download" >Download Report</button>
</div>
</div>
<div class="row">
        &nbsp;
    </div>
    <!-- Table -->
    <div class="col-12">
        <table class="content-table" id="SalesReport-table">
            <thead>
            <tr>
                <th scope="col">Brand</th>
                <th scope="col">Category</th>
                <th scope="col">Quantity</th>
                <th scope="col">Revenue</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
</div>

<footer th:replace="snippets.html :: name_footer"></footer>


<script th:src="@{/static/js/salesReports.js}"/>
</script>

</body>

</html>