html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
	text-align: center;
	background-color: #f5f5f5;
}


.fas{
    font-size: 4rem;
}

table.dataTable thead tr {
  text-align: center
}

.nav-item.active {
  color: red;
  font-weight: 580;
}

.a.active{
	color: blue;
}

* {
  font-family: sans-serif; /* Change your font family */
}
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #567189;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

.sorting{
  padding-left: 30px;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #567189;
  text-align: center;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #567189;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #567189;
}


.alert {display:inline-block;

position: absolute;
top: 0px; 
right: 0;
left: 0;
margin: auto;
text-align: center;}


  li {
  list-style-type: none;
  position: relative;
  margin-right: 20px;
  padding: 0.625rem 0 0.5rem;
}

li ul{
  margin-right: 10px;
}

ul li:hover> ul {
   display: block;
  opacity: 1;

}
#logOut{
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 10px;
}
#username{
  position: relative;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 20px;
    left: 50% !important;
  transform: translateX(-50%) !important;
}



#logOut p:hover {
    color: #000;
  cursor: pointer;
}

#logOut p {
  font-size: 0.98rem;
  text-align: center;
  color: #888888;
  font-weight: 500;
  margin: 0.4rem 0;
  margin-top: 0px;
  margin-bottom: 0px;
  flex: 1;
}

table.dataTable thead .sorting{
  text-align: center;
}

.form-group .control-label:after, .form-horizontal .control-label:after,.form-inline .control-label:after,.control-label:after {
  content:"*";
  color:red;
  margin-left: 4px;
}


.btn-primary {
  background-color: #567189 !important;
  border-color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #ffffff !important;
  border-color: #567189 !important;
  color: #567189 !important;
}

.dropdown-menu
{
min-width: none !important;  
text-align: center !important;  
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
  padding-right: 30px;
  padding-left: 30px;
}